body{
	margin:0px auto;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:14px;
}
h1{
	font-size:15px;
	font-weight:900;
	color:#545454;
}
.content{
	min-height:100px;
	margin:0px;
	background-color:white;
	padding:0px;}
.footer{
	background-color:#ecf0f1;
	height:800px;
	padding-top:30px;
}
.footer-wrapper{
	margin:0px auto;
	width:1200px;
	}
.aftercontent {
	height: 5px;
	margin:0px;
	border:none;
	background-color:#dbe3e3;
}
.firstblock, .secondblock, .thirdblock{
	display: inline-block;
	width:350px;
	text-align:left;
	vertical-align:top;
}
.firstblock, .secondblock{
	border-right:1px solid #dbe3e3;
}
.secondblock, .thirdblock{
	padding-left:70px;
}
.secondblock p{
	color:#b7bdbd;
	font-size:12px;
}
.list-firstblock, .list-secondblock, .list-thirdblock{
	list-style:none;
}
.footer-wrapper li{
	border:1px solid #dbe3e3;
	border-radius:50px 50px;
	padding:6px;
	margin:5px;
	width:230px;
	margin-left:-50px;
}
.list-thirdblock li{	
	padding:10px;
	margin:10px;
	margin-left:-50px;
}
.footer-wrapper a{
	color:#454c4e;
	text-decoration:none;
	display:block;
	height: 100%;
}
.footer-wrapper a:hover{
	background-color:#f7fbfc;
	border-radius:50px 50px;
	padding:0px;
	margin:0px;
}

